
header, footer{
    height: 100px;
}
main, section, aside{
    height: 300px;
}

main{
    display: flex;
}
header{
    background: red;
}

.section-1{
    background:green;
    width: 20%;
}

.section-2{
    background: blue;
    width: 60%;
}

.section-3{
    background: brown;
    width: 20%;
}

footer{
    background: yellow;
}