body{
    width: 720px;
    padding: 54px;
    border-left-style: solid;
    border-left-color: #dddddd;
    border-left-width: 6px;
    font-family: Lato;
    color: #444444;
    font-weight: 1.5;
}

hr{
    margin-top: 50px;    
}

.header_h1{
    color: red;
    font-weight: 1.5;
    font-size: 52px;
    margin: 5px 0px 15px; 
}

.header_h2{
    color: black;
    font-weight: 1.5;
    font-size: 30px;
    margin: 5px 0px 15px 0px;
}

a.nav-link{
    color:  #dddddd;
    font-weight: 1.5;
    margin: 10px 20px 20px 0px;
    font-size: 22px;
    text-underline-position: under;
}

a.nav-link:hover, a.nav-link:active {
    color: black;
    font-weight: 1.5;
}

a.link{
    color: #DD0000;
    font-size: 20px;
    font-weight: 1.5;
    border-right: 1px solid darkgray;
    text-decoration: none;
    margin: 0px 5px 0px 5px;
    padding-right: 5px;
    
}

a.first-link{
    color: #DD0000;
    font-weight: 1.5;
    font-size: 20px;
    border-right: 1px solid darkgray;
    text-decoration: none;
    margin: 0px 5px 0px 0px;
    padding-right: 5px;
}

a.last-link{
    color: #DD0000;
    font-weight: 1.5;
    font-size: 20px;
    text-decoration: none;
    margin: 0px 5px 0px 0px;
    padding-right: 5px;
}

a.blog-link{
    color: #DD0000;
    font-weight: bold;
    text-decoration: none;
    float: right;
}
a.link:hover, a.link:active {
    color: #aa0000;
    font-weight: 1.5;
}

.date{
    color: #cccccc;
    font-weight: 1.5;
    font-size: 40px;
    margin: 40px 0px 10px;
}

.blog-title{
    color: black;
    font-weight: 1.5;
    font-size: 35px;
    margin: 0px 0px 10px;
}

.copyright{
    color: #bbbbbb;
    font-weight: 1.5;
    font-size: 20px;
}

img{
    width: 720px;
    margin-bottom: 15px;
}